footer {
    background-color: var(--c0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
footer > p {
    padding: 1em;
    justify-self: start;
    font-weight: 100;
}

footer > img {
    height: 3em;
    margin: 1em;
    justify-self: center;
}

footer > div {
    justify-self: end;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
footer > div a {
    height: 2em;
    margin-right: 1em;
}
footer > div a:hover{
    transition: all 0.5s ease 0s;
    transform: scale(110%);
}
footer > div img {
    width: 100%;
    height: 100%;
}
